apiVersion: apps/v1
kind: Deployment
metadata:
  name: mlops-iris-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mlops-iris
  template:
    metadata:
      labels:
        app: mlops-iris
    spec:
      containers:
        - name: mlops-iris-container
          image: mlops-iris:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8000
          volumeMounts:
            - name: model-storage
              mountPath: /app/models
          readinessProbe:
            httpGet:
              path: /
              port: 8000
            initialDelaySeconds: 10
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /
              port: 8000
            initialDelaySeconds: 20
            periodSeconds: 20
      volumes:
        - name: model-storage
          persistentVolumeClaim:
            claimName: model-pvc
